.listItem {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-white);
  padding: 10px;
  border-radius: 25px;
  gap: 30px;
  margin: 10px 0;
}

@media (min-width: 426px) {
  .listContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .listContainer > li {
    display: flex;
    min-width: 270px;
    height: 86px;
    margin: 5px;
  }
}
