.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header > img {
  width: 70.7px;
}

.header > nav > a {
  margin: 0 20px;
}

@media (min-width: 426px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
  }
}
